header { margin: auto;
    	width: 50%;
    	padding: 10px;  }
body {
	background-image: url("../webroot/img/bckgrd.jpg");
	background-color: #cccccc;}
.panel-footer {	position: fixed;
	bottom:0px;
	width: 100%;}
